.card {
    width: 18rem;
    margin: 0 auto;
    background-color: rgb(11 33 45/1);
    box-shadow: 0 0 3px 3px #ffc107;
    transition: 0.4s;
}

.card:hover {
    box-shadow: 0 0 4px 4px #ffc107;
    transform: scale(1.03) rotate(1deg);
}

.card-icons {
    top: 5px;
    right: 5px;
}

.card-link {
    width: 40px;
    height: 40px;
}

.card-text {
    height: 120px;
    overflow: hidden;
    overflow-y: scroll;
    text-align: justify;
}

.tech-icons {
    font-size: .9rem;
}